header {
  //max-width:1518px;
  .left-column {
    display: flex;
    padding: 1% 8.5%;
    @media (max-width: 768px) {
      padding: 1%;
    }
    .header-breadcrumb {
      position: absolute;
    }
    .left-column-content {
      margin: auto 0 auto 4rem;
      @media (max-width: 768px) {
        margin: auto;
        padding: 20px;
      }

      h1 {
        font-size: 40px !important;
      }
      p {
        font-size: 23px;
        line-height: 28.77px;
        font-family: "Frutiger-Light", Arial, sans-serif !important;
      }
    }
  }
}
